.auth-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.auth-form {
  padding: 40px 30px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.auth-form input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.auth-form input:focus {
  outline: none;
  border: 1px solid #8a2be2;
}

.auth-form button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #8a2be2; /* Our Violet Accent Color */
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.auth-form button:hover {
  background-color: #7b25c8;
}

.auth-form p {
  color: #555;
}

.auth-form span {
  color: #8a2be2;
  font-weight: 600;
  cursor: pointer;
}
